$base-font-size: 16px;
$font-family: 'GoogleSans', sans-serif;
$content-size: 1440px;

// Colors
$color-main-blue: #7F8DA0;
$color-silver-light: #F2F6FF;
$color-green: #6CC57C;
$color-dark: #23233C;
$color-white: #FFFFFF;
$color-red: #EE6A6E;