.header {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 99;

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
  }
}

.main-nav {
  &__link {
    &:not(:last-child) {
      margin-right: 66px;
    }
  }
}

.authorization {
  &__link {
    color: #23233C;

    &:not(:last-child) {
      margin-right: 54px;
    }

    &:hover {
      color: $color-green;
    }
  }
}