.healthy-food {
  position: relative;
  padding: 250px 0 100px;

  &::before {
    content: '';
    position: absolute;
    left: -600px;
    bottom: -280px;
    width: 742px;
    height: 602px;
    border-radius: 49px;
    background: linear-gradient(#F2F6FF, #F2F6FF, #FFFFFF);
    box-shadow: 50px 50px 50px rgba(171, 182, 204, 0.2);
    transform: rotate(-145deg);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #D0F0D6;
    top: 50%;
    right: -220px;
    transform: translateY(-50%);
  }

  .row {
    align-items: center;
    column-gap: 50px;
  }
}

.dishes {
  display: flex;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 306px;
    padding: 220px 45px 75px;
    border-radius: 153px 153px 50px 50px;
    background: linear-gradient(135deg, #F2F6FF, #F2F6FF 60%, #FFFFFF);
    box-shadow: 50px 50px 50px rgba(171, 182, 204, 0.2);

    &:first-child {
      margin-right: 90px;
      top: -60px;
    }

    &:last-child {
      top: 60px;
    }
  }

  &__title {
    font-size: 2.1875rem;
    line-height: 2.375rem;
    color: $color-dark;
    margin-bottom: 16px;
  }

  &__info-row {
    display: flex;
  }

  &__info-col {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-right: 45px;
    }
  }

  &__number {
    font-size: 1.625rem;
    line-height: 2rem;
  }

  &__link {
    position: absolute;
    right: -30px;
    bottom: -30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $color-dark;
    transition: 0.1s ease-out;

    &:hover {
      background-color: lighten($color-dark, 20%);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: -90px;
  }
}