.hero {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -600px;
    top: 80px;
    width: 742px;
    height: 602px;
    border-radius: 49px;
    background: linear-gradient(#F2F6FF, #F2F6FF, #FFFFFF);
    box-shadow: 50px 50px 50px rgba(171, 182, 204, 0.2);
    transform: rotate(-315deg);
    z-index: -1;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__main {
    max-width: 650px;
    margin-top: 230px;
  }

  &__subtitle {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.375rem;
    margin-bottom: 29px;
  }

  &__title {
    font-size: 4.375rem;
    font-weight: 400;
    line-height: 3.9375rem;
    color: $color-dark;
    margin-bottom: 29px;
  }

  &__description {
    font-size: 1.5625rem;
    line-height: 1.75rem;
    margin-bottom: 47px;
  }

  &__download {
    display: flex;
    align-items: center;
    margin-bottom: 167px;
  }

  &__btn {
    margin-right: 90px;
  }

  .text-green {
    display: block;
  }

  &__img-wrapper {
    position: relative;
    padding-top: 220px;

    &::after {
      content: '';
      position: absolute;
      width: 409px;
      height: 409px;
      left: -60px;
      top: 300px;
      border-radius: 50%;
      background-color: #D0F0D6;
      z-index: -1;
    }
  }

  &__img {
    position: absolute;

    &_login {
      left: 0;
      border-radius: 30px;
      box-shadow: 0 0 99px rgba(42, 90, 123, 0.23);
    }

    &_activity {
      right: 0;
      bottom: -30px;
      border-radius: 30px;
      box-shadow: 0 3px 99px rgba(42, 90, 123, 0.23);
    }

    &_info {
      left: 140px;
    }

    &_result {
      right: -200px;
      bottom: 140px;
    }
  }
}

.platforms {
  display: flex;
  align-items: center;

  &__link {
    font-size: 0;
    cursor: pointer;

    &:first-child {
      margin-right: 45px;
    }

    &:hover {
      svg {
        path {
          fill: $color-green;
        }
      }
    }

    svg {
      path {
        transition: 0.1s ease-out;
      }
    }
  }
}

.social-links {
  display: flex;

  &__link {
    position: relative;

    &:not(:last-child) {
      margin-right: 42px;

      &::after {
        content: '/';
        position: absolute;
        right: -24px;
      }
    }

    &:hover {
      color: $color-green;
    }
  }
}