.information {
  position: relative;
  padding: 50px 0 100px;

  &::before {
    content: '';
    position: absolute;
    right: -200px;
    bottom: 200px;
    width: 742px;
    height: 602px;
    border-radius: 49px;
    background: linear-gradient(#F2F6FF, #F2F6FF, #FFFFFF);
    box-shadow: 50px 50px 50px rgba(171, 182, 204, 0.2);
    transform: rotate(342deg);
    z-index: -1;
  }

  .col {
    &:first-child {
      max-width: 615px;
    }
  }

  .row {
    align-items: center;
    column-gap: 50px;
  }
}