section.section.healthy-food
    .container
        .row
            .col
                .healthy-food__dishes.dishes
                    .dishes__item
                        img.dishes__img(src="./img/dish-1.png", alt="First dish")
                        h3.dishes__title Ensalada mixta
                        .dishes__info-row
                            .dishes__info-col
                                span.dishes__number.text-red 243
                                span.dishes__value calorias
                            .dishes__info-col
                                span.dishes__number.text-black 2,8g
                                span.dishes__value grasas
                        a.dishes__link(href="#")
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='25.243' viewBox='0 0 24 25.243')
                                g#Icon_feather-arrow-right(data-name='Icon feather-arrow-right' transform='translate(-6 -5.379)')
                                    path#Path_1952(data-name='Path 1952' d='M7.5,18h21' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3')
                                    path#Path_1953(data-name='Path 1953' d='M18,7.5,28.5,18,18,28.5' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3')
                    .dishes__item
                        img.dishes__img(src="./img/dish-2.png", alt="Second dish")
                        h3.dishes__title Ensalada con pollo
                        .dishes__info-row
                            .dishes__info-col
                                span.dishes__number.text-red 543
                                span.dishes__value calorias
                            .dishes__info-col
                                span.dishes__number.text-black 2,8g
                                span.dishes__value grasas
                        a.dishes__link(href="#")
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='25.243' viewBox='0 0 24 25.243')
                                g#Icon_feather-arrow-right(data-name='Icon feather-arrow-right' transform='translate(-6 -5.379)')
                                    path#Path_1952(data-name='Path 1952' d='M7.5,18h21' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3')
                                    path#Path_1953(data-name='Path 1953' d='M18,7.5,28.5,18,18,28.5' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3')
            .col
                h2.healthy-food__title.text-decor #[span.text-green Descubre] que tan fácil crear alimentos saludables
                p.healthy-food__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas accumsan odio, cursus laoreet mauris porttitor non. Aliquam eu neque nibh. Aenean non pellentesque justo.