section.section.information
    .container
        .row
            .col
                h2.section__title.text-decor #[span.text-green Conoce] el detalle de los alimentos que consumes
                p.section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas accumsan odio, cursus laoreet mauris porttitor non. Aliquam eu neque nibh. Aenean non pellentesque justo.
            .col
                .information__img-wrapper
                    img.information__img(src="./img/information.png", alt="Nutritional information")